[submodule "carrington-core"]
	path = carrington-core
	url = git@github.com:crowdfavorite/wp-carrington-core.git
[submodule "assets/asset-build"]
	path = assets/asset-build
	url = git@github.com:crowdfavorite/wp-asset-build.git
