/* 	Content - Posts, Pages, Comments
	------------------------------------------------------- */

/** Posts Default
 -------------------------------------------------- */
.entry-header {
}
.entry-title {
}
.entry-date {
}
.entry-content {
}
.entry-meta {
}

/** Attachment Page
 -------------------------------------------------- */
.attachment-header {
}
.attachment-content {
}
.attachment-prev {
}
.attachment-next {
}


/** WP Gallery
 -------------------------------------------------- */
.gallery-item {
}
.gallery-item .gallery-icon {
}
.gallery-item .gallery-icon img {
}
.gallery-item .gallery-icon a {
}