// ----------------------------------------
// Utility/Helper Classes
// ----------------------------------------

/** WordPress compatibility styles
 -------------------------------------------------- */
.alignleft,
.alignright {
	margin-top: 4px;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.alignright {
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/**
 * Captioned images
 * Caption shortcode filtered.
 */
.wp-caption {
	overflow: hidden;
}
.wp-caption dt {
	margin: 0;
}
.wp-caption img {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
.wp-caption dd {
	font-size: .9em;
	padding: 2px 8px 3px 8px;
	margin: 1px 0 0 0;
}
.sticky {
	/* Add styles here if you wish to callout sticky posts */
}

/** Standard / Utility Classes
 -------------------------------------------------- */
.clearfix {
	@include clearfix;
}

/* Pagination */
.pagination {
	min-height: 20px;
	margin: 30px 0;
}
.pagination .prev,
.pagination .next {
	display: block;
	line-height: 1.2em;
	width: 48%;
}
.pagination .next {
	float: right;
	text-align: right;
}
.h1 {
	@extend h1;
}