/* --------------------------------------------------
 * Content - Posts, Pages, Comments
-------------------------------------------------- */

/** Masthead
 -------------------------------------------------- */
#masthead {
	margin-bottom: 30px;
}
#masthead #site-name {
}

/* Main Navigation */
#nav-main {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 8px 0;
	width: 100%;
}
#nav-main,
#nav-main ul,
#nav-main li,
#nav-main a {
	display: block;
	float: left;
}
#nav-main > ul {
	border-left: 1px solid #ddd;
}
#nav-main li {
}
#nav-main li a {
	border-right: 1px solid #ddd;
	line-height: 2em;
	padding: 0 10px;
}
/* drop down menus */
#nav-main li {
	position: relative;
}
#nav-main li ul {
	display: none;
  	position: absolute;
	top: 2em;
	width: 150px;
}
#nav-main li:hover > ul {
	display: block;
}
#nav-main li:hover,
#nav-main li ul {
	background: #f6f6f6;
}
#nav-main li ul {
	padding: .2em 0;
}
#nav-main li ul,
#nav-main li ul li,
#nav-main li ul li a {
	float: none;
}
#nav-main li li a {
	border: 0;
}

/** Posts Default
 -------------------------------------------------- */
.entry-header {
}
.entry-title {
}
.entry-date {
}
.entry-content {
}
.entry-meta {
}

/** Sidebar / Widgets
 -------------------------------------------------- */
.widget {
}
.widget-title {
}

/** Attachment Page
 -------------------------------------------------- */
.attachment-header {
}
.attachment-content {
}
.attachment-prev {
}
.attachment-next {
}

/** Footer
 -------------------------------------------------- */
#footer {
}

/* --------------------------------------------------
 * Standard / Utility Classes
-------------------------------------------------- */

/* Pagination */
.pagination {
	min-height: 20px;
	margin: 30px 0;
}
.pagination .prev,
.pagination .next {
	display: block;
	line-height: 1.2em;
	width: 48%;
}
.pagination .next {
	float: right;
	text-align: right;
}

/** WordPress compatibility styles
 -------------------------------------------------- */
.alignleft,
.alignright {
	margin-top: 4px;
}
.alignleft {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.alignright {
	float: right;
	margin-left: 20px;
	margin-bottom: 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/**
 * Captioned images
 * Caption shortcode filtered.
 */
.wp-caption {
	overflow: hidden;
}
.wp-caption dt {
	margin: 0;
}
.wp-caption img {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
.wp-caption dd {
	font-size: .9em;
	padding: 2px 8px 3px 8px;
	margin: 1px 0 0 0;
}
.sticky {
	/* Add styles here if you wish to callout sticky posts */
}

/* WP Gallery */
.gallery-item {
}
.gallery-item .gallery-icon {
}
.gallery-item .gallery-icon img {
}
.gallery-item .gallery-icon a {
}
.gallery-caption {
}
