/* line 39, ../scss/style.scss */
.breakpoint-context {
  position: absolute;
  top: -999em;
  left: -999em;
  z-index: 1;
}
@media (min-width: 760px) {
  /* line 39, ../scss/style.scss */
  .breakpoint-context {
    z-index: 2;
  }
}
@media (min-width: 1025px) {
  /* line 39, ../scss/style.scss */
  .breakpoint-context {
    z-index: 3;
  }
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize 1.1.2 ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 33, ../scss/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 39, ../scss/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 45, ../scss/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 50, ../scss/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/* line 58, ../scss/_reset.scss */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* line 68, ../scss/_reset.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 72, ../scss/_reset.scss */
body {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

/* line 78, ../scss/_reset.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 83, ../scss/_reset.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 88, ../scss/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 0;
  border-top: 1px solid #ccc;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/* line 98, ../scss/_reset.scss */
img {
  vertical-align: middle;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 106, ../scss/_reset.scss */
a {
  color: #00e;
}

/* line 107, ../scss/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 108, ../scss/_reset.scss */
a:hover {
  color: #06e;
}

/* line 110, ../scss/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 115, ../scss/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 122, ../scss/_reset.scss */
h1, .h1, .h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../scss/_reset.scss */
h2, .h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../scss/_reset.scss */
h3, .h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../scss/_reset.scss */
h4, .h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../scss/_reset.scss */
h5, .h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../scss/_reset.scss */
h6, .h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 152, ../scss/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 154, ../scss/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 156, ../scss/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 158, ../scss/_reset.scss */
dfn {
  font-style: italic;
}

/* line 160, ../scss/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 162, ../scss/_reset.scss */
p, pre {
  margin: 1em 0;
}

/* line 164, ../scss/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 166, ../scss/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 168, ../scss/_reset.scss */
q {
  quotes: none;
}

/* line 169, ../scss/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 171, ../scss/_reset.scss */
small {
  font-size: 80%;
}

/* line 173, ../scss/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 174, ../scss/_reset.scss */
sup {
  top: -0.5em;
}

/* line 175, ../scss/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 182, ../scss/_reset.scss */
dl, menu, ol, ul {
  margin: 1em 0;
}

/* line 183, ../scss/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 184, ../scss/_reset.scss */
menu, ol, ul {
  padding: 0 0 0 40px;
}

/* line 185, ../scss/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/* line 192, ../scss/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 194, ../scss/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 201, ../scss/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 208, ../scss/_reset.scss */
form {
  margin: 0;
}

/* line 209, ../scss/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 211, ../scss/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 213, ../scss/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 215, ../scss/_reset.scss */
button, input {
  line-height: normal;
}

/* line 217, ../scss/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 219, ../scss/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 221, ../scss/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 222, ../scss/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 223, ../scss/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 225, ../scss/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 227, ../scss/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 233, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 241, ../scss/_reset.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 242, ../scss/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 243, ../scss/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 244, ../scss/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 245, ../scss/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 246, ../scss/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 247, ../scss/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* line 248, ../scss/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 249, ../scss/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 251, ../scss/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 252, ../scss/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/*	CSSGrid
 * 	https://github.com/crowdfavorite/css-grid
 * 	Version: 2.0.2
 *	License: http://opensource.org/licenses/mit-license.php  */
/** mixins
 -------------------------------------------------- */
/** grid foundation
 -------------------------------------------------- */
/* line 72, ../scss/_grid.scss */
.grid {
  margin: 0 auto;
}

/* fluid media */
/* line 80, ../scss/_grid.scss */
.row img,
.row object,
.row embed,
.row video {
  max-width: 100%;
}

/* 	Default Desktop/Tablet Grid
	Works fine with older browsers that don't support media queries. */
/* line 86, ../scss/_grid.scss */
.grid {
  /* this makes the page wide but keeps content away from the edge */
  padding-left: 0px;
  padding-right: 0px;
  width: 1048px;
}

/* line 102, ../scss/_grid.scss */
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12,
.c1-2, .c2-3, .c3-4, .c4-5, .c5-6, .c6-7, .c7-8, .c8-9, .c9-10, .c10-11, .c11-12,
.c1-3, .c2-4, .c3-5, .c4-6, .c5-7, .c6-8, .c7-9, .c8-10, .c9-11, .c10-12,
.c1-4, .c2-5, .c3-6, .c4-7, .c5-8, .c6-9, .c7-10, .c8-11, .c9-12,
.c1-5, .c2-6, .c3-7, .c4-8, .c5-9, .c6-10, .c7-11, .c8-12,
.c1-6, .c2-7, .c3-8, .c4-9, .c5-10, .c6-11, .c7-12,
.c1-7, .c2-8, .c3-9, .c4-10, .c5-11, .c6-12,
.c1-8, .c2-9, .c3-10, .c4-11, .c5-12,
.c1-9, .c2-10, .c3-11, .c4-12,
.c1-10, .c2-11, .c3-12,
.c1-11, .c2-12,
.c1-12 {
  margin-left: 20px;
  display: inline;
  float: left;
  min-height: 1px;
}

/* 	1/12 */
/* line 110, ../scss/_grid.scss */
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  width: 69px;
}

/* line 111, ../scss/_grid.scss */
.offset1 {
  margin-left: 109px;
}

/* line 124, ../scss/_grid.scss */
[class*=c1-] .offset1:first-child,
[class*=c2-] .offset1:first-child,
[class*=c3-] .offset1:first-child,
[class*=c4-] .offset1:first-child,
[class*=c5-] .offset1:first-child,
[class*=c6-] .offset1:first-child,
[class*=c7-] .offset1:first-child,
[class*=c8-] .offset1:first-child,
[class*=c9-] .offset1:first-child,
[class*=c10-] .offset1:first-child,
[class*=c11-] .offset1:first-child,
[class*=c12-] .offset1:first-child {
  margin-left: 89px;
}

/* 	2/12 */
/* line 129, ../scss/_grid.scss */
.c1-2, .c2-3, .c3-4, .c4-5, .c5-6, .c6-7, .c7-8, .c8-9, .c9-10, .c10-11, .c11-12 {
  width: 158px;
}

/* line 130, ../scss/_grid.scss */
.offset2 {
  margin-left: 198px;
}

/* 	3/12 */
/* line 132, ../scss/_grid.scss */
.c1-3, .c2-4, .c3-5, .c4-6, .c5-7, .c6-8, .c7-9, .c8-10, .c9-11, .c10-12 {
  width: 247px;
}

/* line 133, ../scss/_grid.scss */
.offset3 {
  margin-left: 287px;
}

/* 	4/12 */
/* line 135, ../scss/_grid.scss */
.c1-4, .c2-5, .c3-6, .c4-7, .c5-8, .c6-9, .c7-10, .c8-11, .c9-12 {
  width: 336px;
}

/* line 136, ../scss/_grid.scss */
.offset4 {
  margin-left: 376px;
}

/* 	5/12 */
/* line 138, ../scss/_grid.scss */
.c1-5, .c2-6, .c3-7, .c4-8, .c5-9, .c6-10, .c7-11, .c8-12 {
  width: 425px;
}

/* line 139, ../scss/_grid.scss */
.offset5 {
  margin-left: 465px;
}

/* 	6/12 */
/* line 141, ../scss/_grid.scss */
.c1-6, .c2-7, .c3-8, .c4-9, .c5-10, .c6-11, .c7-12 {
  width: 514px;
}

/* line 142, ../scss/_grid.scss */
.offset6 {
  margin-left: 554px;
}

/* 	7/12 */
/* line 144, ../scss/_grid.scss */
.c1-7, .c2-8, .c3-9, .c4-10, .c5-11, .c6-12 {
  width: 603px;
}

/* line 145, ../scss/_grid.scss */
.offset7 {
  margin-left: 643px;
}

/* 	8/12 */
/* line 147, ../scss/_grid.scss */
.c1-8, .c2-9, .c3-10, .c4-11, .c5-12 {
  width: 692px;
}

/* line 148, ../scss/_grid.scss */
.offset8 {
  margin-left: 732px;
}

/* 	9/12 */
/* line 150, ../scss/_grid.scss */
.c1-9, .c2-10, .c3-11, .c4-12 {
  width: 781px;
}

/* line 151, ../scss/_grid.scss */
.offset9 {
  margin-left: 821px;
}

/* 	10/12 */
/* line 153, ../scss/_grid.scss */
.c1-10, .c2-11, .c3-12 {
  width: 870px;
}

/* line 154, ../scss/_grid.scss */
.offset10 {
  margin-left: 910px;
}

/* 	11/12 */
/* line 156, ../scss/_grid.scss */
.c1-11, .c2-12 {
  width: 959px;
}

/* line 157, ../scss/_grid.scss */
.offset11 {
  margin-left: 999px;
}

/* 	12/12 */
/* line 159, ../scss/_grid.scss */
.c1-12 {
  width: 1048px;
}

/* 	Accounts for extra margin on first column
		This value should change a negative margin of whatever your gutter width is. */
/* line 162, ../scss/_grid.scss */
.row {
  margin-left: -20px;
}

/* 	Medium Sized Grid
	Tablet sized columns. */
@media only screen and (min-width: 800px) and (max-width: 1047px) {
  /* line 170, ../scss/_grid.scss */
  .grid {
    padding-left: 20px;
    padding-right: 20px;
    width: 760px;
  }

  /* line 185, ../scss/_grid.scss */
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12,
  .c1-2, .c2-3, .c3-4, .c4-5, .c5-6, .c6-7, .c7-8, .c8-9, .c9-10, .c10-11, .c11-12,
  .c1-3, .c2-4, .c3-5, .c4-6, .c5-7, .c6-8, .c7-9, .c8-10, .c9-11, .c10-12,
  .c1-4, .c2-5, .c3-6, .c4-7, .c5-8, .c6-9, .c7-10, .c8-11, .c9-12,
  .c1-5, .c2-6, .c3-7, .c4-8, .c5-9, .c6-10, .c7-11, .c8-12,
  .c1-6, .c2-7, .c3-8, .c4-9, .c5-10, .c6-11, .c7-12,
  .c1-7, .c2-8, .c3-9, .c4-10, .c5-11, .c6-12,
  .c1-8, .c2-9, .c3-10, .c4-11, .c5-12,
  .c1-9, .c2-10, .c3-11, .c4-12,
  .c1-10, .c2-11, .c3-12,
  .c1-11, .c2-12,
  .c1-12 {
    display: inline;
    /* IE6/IE7 double-margin float bug fix */
    float: left;
    margin-left: 20px;
    /* Prevent collapsing of empty columns. Min-height prevents collapse
    everywhere but IE6. IE6 doesn't collapse empty collumns anyhow, so no need
    for a fix there. */
    min-height: 1px;
    clear: none;
  }

  /* 	1/12 */
  /* line 196, ../scss/_grid.scss */
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    width: 45px;
  }

  /* line 197, ../scss/_grid.scss */
  .offset1 {
    margin-left: 85px;
  }

  /* line 210, ../scss/_grid.scss */
  [class*=c1-] .offset1:first-child,
  [class*=c2-] .offset1:first-child,
  [class*=c3-] .offset1:first-child,
  [class*=c4-] .offset1:first-child,
  [class*=c5-] .offset1:first-child,
  [class*=c6-] .offset1:first-child,
  [class*=c7-] .offset1:first-child,
  [class*=c8-] .offset1:first-child,
  [class*=c9-] .offset1:first-child,
  [class*=c10-] .offset1:first-child,
  [class*=c11-] .offset1:first-child,
  [class*=c12-] .offset1:first-child {
    margin-left: 65px;
  }

  /* 	2/12 */
  /* line 215, ../scss/_grid.scss */
  .c1-2, .c2-3, .c3-4, .c4-5, .c5-6, .c6-7, .c7-8, .c8-9, .c9-10, .c10-11, .c11-12 {
    width: 110px;
  }

  /* line 216, ../scss/_grid.scss */
  .offset2 {
    margin-left: 150px;
  }

  /* 	3/12 */
  /* line 218, ../scss/_grid.scss */
  .c1-3, .c2-4, .c3-5, .c4-6, .c5-7, .c6-8, .c7-9, .c8-10, .c9-11, .c10-12 {
    width: 175px;
  }

  /* line 219, ../scss/_grid.scss */
  .offset3 {
    margin-left: 215px;
  }

  /* 	4/12 */
  /* line 221, ../scss/_grid.scss */
  .c1-4, .c2-5, .c3-6, .c4-7, .c5-8, .c6-9, .c7-10, .c8-11, .c9-12 {
    width: 240px;
  }

  /* line 222, ../scss/_grid.scss */
  .offset4 {
    margin-left: 280px;
  }

  /* 	5/12 */
  /* line 224, ../scss/_grid.scss */
  .c1-5, .c2-6, .c3-7, .c4-8, .c5-9, .c6-10, .c7-11, .c8-12 {
    width: 305px;
  }

  /* line 225, ../scss/_grid.scss */
  .offset5 {
    margin-left: 345px;
  }

  /* 	6/12 */
  /* line 227, ../scss/_grid.scss */
  .c1-6, .c2-7, .c3-8, .c4-9, .c5-10, .c6-11, .c7-12 {
    width: 370px;
  }

  /* line 228, ../scss/_grid.scss */
  .offset6 {
    margin-left: 410px;
  }

  /* 	7/12 */
  /* line 230, ../scss/_grid.scss */
  .c1-7, .c2-8, .c3-9, .c4-10, .c5-11, .c6-12 {
    width: 435px;
  }

  /* line 231, ../scss/_grid.scss */
  .offset7 {
    margin-left: 475px;
  }

  /* 	8/12 */
  /* line 233, ../scss/_grid.scss */
  .c1-8, .c2-9, .c3-10, .c4-11, .c5-12 {
    width: 500px;
  }

  /* line 234, ../scss/_grid.scss */
  .offset8 {
    margin-left: 540px;
  }

  /* 	9/12 */
  /* line 236, ../scss/_grid.scss */
  .c1-9, .c2-10, .c3-11, .c4-12 {
    width: 565px;
  }

  /* line 237, ../scss/_grid.scss */
  .offset9 {
    margin-left: 605px;
  }

  /* 	10/12 */
  /* line 239, ../scss/_grid.scss */
  .c1-10, .c2-11, .c3-12 {
    width: 630px;
  }

  /* line 240, ../scss/_grid.scss */
  .offset10 {
    margin-left: 670px;
  }

  /* 	11/12 */
  /* line 242, ../scss/_grid.scss */
  .c1-11, .c2-12 {
    width: 695px;
  }

  /* line 243, ../scss/_grid.scss */
  .offset11 {
    margin-left: 735px;
  }

  /* 	12/12 */
  /* line 245, ../scss/_grid.scss */
  .c1-12 {
    width: 760px;
  }

  /* 	Accounts for extra margin on first column
  	This value should change a negative margin of whatever your gutter width is. */
  /* line 249, ../scss/_grid.scss */
  .row {
    margin-left: -20px;
  }
}
/* 	Large Desktop Grid
	Very wide columns for large monitors. */
/* 	Single-column mobile
	Get rid of widths and floats, go to fluid single column. */
@media only screen and (max-width: 799px) {
  /* line 345, ../scss/_grid.scss */
  .grid {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 361, ../scss/_grid.scss */
  .grid,
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12,
  .c1-2, .c2-3, .c3-4, .c4-5, .c5-6, .c6-7, .c7-8, .c8-9, .c9-10, .c10-11, .c11-12,
  .c1-3, .c2-4, .c3-5, .c4-6, .c5-7, .c6-8, .c7-9, .c8-10, .c9-11, .c10-12,
  .c1-4, .c2-5, .c3-6, .c4-7, .c5-8, .c6-9, .c7-10, .c8-11, .c9-12,
  .c1-5, .c2-6, .c3-7, .c4-8, .c5-9, .c6-10, .c7-11, .c8-12,
  .c1-6, .c2-7, .c3-8, .c4-9, .c5-10, .c6-11, .c7-12,
  .c1-7, .c2-8, .c3-9, .c4-10, .c5-11, .c6-12,
  .c1-8, .c2-9, .c3-10, .c4-11, .c5-12,
  .c1-9, .c2-10, .c3-11, .c4-12,
  .c1-10, .c2-11, .c3-12,
  .c1-11, .c2-12,
  .c1-12 {
    display: block;
    float: none;
    margin-left: 0;
    width: auto;
  }

  /* line 367, ../scss/_grid.scss */
  .row {
    margin-left: 0;
  }
}
/* Zeroing out leftmost nested .unit margins */
/* line 397, ../scss/_grid.scss */
[class*=c1] [class*=c1],
[class*=c2] [class*=c2],
[class*=c3] [class*=c3],
[class*=c4] [class*=c4],
[class*=c5] [class*=c5],
[class*=c6] [class*=c6],
[class*=c7] [class*=c7],
[class*=c8] [class*=c8],
[class*=c9] [class*=c9],
[class*=c10] [class*=c10],
[class*=c11] [class*=c11],
[class*=c12] [class*=c12],
[class*=c1-] .offset1:first-child,
[class*=c2-] .offset1:first-child,
[class*=c3-] .offset1:first-child,
[class*=c4-] .offset1:first-child,
[class*=c5-] .offset1:first-child,
[class*=c6-] .offset1:first-child,
[class*=c7-] .offset1:first-child,
[class*=c8-] .offset1:first-child,
[class*=c9-] .offset1:first-child,
[class*=c10-] .offset1:first-child,
[class*=c11-] .offset1:first-child,
[class*=c12-] .offset1:first-child,
.row .row {
  margin-left: 0;
}

/* Full-width  */
/* line 402, ../scss/_grid.scss */
.c1-12 {
  clear: both;
  display: block;
  min-height: 1px;
}

/** grid utilities
 -------------------------------------------------- */
/* Row offsetfix
Uses variation of Nicolas Gallagher's Micro offsetfix.
http://nicolasgallagher.com/micro-offsetfix-hack/ */
/* line 414, ../scss/_grid.scss */
.row:before,
.row:after {
  content: "";
  display: table;
}

/* line 418, ../scss/_grid.scss */
.row:after {
  clear: both;
}

/* line 421, ../scss/_grid.scss */
.row {
  /* Just in case: make sure that rows offset outside floats. */
  clear: both;
  /* For IE 6/7 (trigger hasLayout) */
  zoom: 1;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 12, ../scss/_utility.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 13, ../scss/_utility.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 16, ../scss/_utility.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 19, ../scss/_utility.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 22, ../scss/_utility.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 25, ../scss/_utility.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 28, ../scss/_utility.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 29, ../scss/_utility.scss */
.clearfix:after {
  clear: both;
}

/* line 30, ../scss/_utility.scss */
.clearfix {
  *zoom: 1;
}

/* 	Other Non-semantic Helpers
	------------------------------------------------------- */
/* line 35, ../scss/_utility.scss */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/** WordPress compatibility styles
 -------------------------------------------------- */
/* line 44, ../scss/_utility.scss */
.alignleft,
.alignright {
  margin-top: 4px;
}

/* line 47, ../scss/_utility.scss */
.alignleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
}

/* line 52, ../scss/_utility.scss */
.alignright {
  float: right;
  margin-left: 20px;
  margin-bottom: 15px;
}

/* line 57, ../scss/_utility.scss */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Captioned images
 * Caption shortcode filtered.
 */
/* line 66, ../scss/_utility.scss */
.wp-caption {
  overflow: hidden;
}

/* line 69, ../scss/_utility.scss */
.wp-caption dt {
  margin: 0;
}

/* line 72, ../scss/_utility.scss */
.wp-caption img {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 78, ../scss/_utility.scss */
.wp-caption dd {
  font-size: .9em;
  padding: 2px 8px 3px 8px;
  margin: 1px 0 0 0;
}

/* line 83, ../scss/_utility.scss */
.sticky {
  /* Add styles here if you wish to callout sticky posts */
}

/* --------------------------------------------------
 * Standard / Utility Classes
-------------------------------------------------- */
/* Pagination */
/* line 92, ../scss/_utility.scss */
.pagination {
  min-height: 20px;
  margin: 30px 0;
}

/* line 97, ../scss/_utility.scss */
.pagination .prev,
.pagination .next {
  display: block;
  line-height: 1.2em;
  width: 48%;
}

/* line 102, ../scss/_utility.scss */
.pagination .next {
  float: right;
  text-align: right;
}

/** Masthead
 -------------------------------------------------- */
/* line 7, ../scss/_header.scss */
#masthead {
  margin-bottom: 30px;
}

/* 	Main Navigation
	------------------------------------------------------- */
/* line 16, ../scss/_header.scss */
#nav-main {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 8px 0;
  width: 100%;
  display: block;
  float: left;
}
/* line 24, ../scss/_header.scss */
#nav-main a {
  display: block;
  float: left;
}
/* line 29, ../scss/_header.scss */
#nav-main ul {
  display: block;
  float: left;
}
/* line 34, ../scss/_header.scss */
#nav-main > ul {
  border-left: 1px solid #ddd;
}
/* line 38, ../scss/_header.scss */
#nav-main li {
  position: relative;
  display: block;
  float: left;
}
/* line 43, ../scss/_header.scss */
#nav-main li:hover {
  background: #f6f6f6;
}
/* line 46, ../scss/_header.scss */
#nav-main li:hover > ul {
  display: block;
}
/* line 51, ../scss/_header.scss */
#nav-main li a {
  border-right: 1px solid #ddd;
  line-height: 2em;
  padding: 0 10px;
}
/* line 57, ../scss/_header.scss */
#nav-main li ul {
  background: #f6f6f6;
  display: none;
  padding: .2em 0;
  top: 2em;
  width: 150px;
  float: none;
  position: absolute;
}
/* line 66, ../scss/_header.scss */
#nav-main li ul li {
  float: none;
}
/* line 69, ../scss/_header.scss */
#nav-main li ul li a {
  float: none;
  border: 0;
}

/* 	Content - Posts, Pages, Comments
	------------------------------------------------------- */
/** Posts Default
 -------------------------------------------------- */
/** Attachment Page
 -------------------------------------------------- */
/** WP Gallery
 -------------------------------------------------- */
